@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('css/clockStyle.css');
@import url('css/calendarStyle.css');
@import url('css/quoteStyle.css');
@import url('css/weatherStyle.css');
@import url('css/settings.css');

:root {
    --text-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

body {
    position: relative;
    
}

.main{
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
}

.right-panel{
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.settings{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    cursor: pointer;
}

.hidden {
  display: none !important;
}